<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="462f16a9-7a20-4983-a744-dcba3f9410b5" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="462f16a9-7a20-4983-a744-dcba3f9410b5fileName">TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>test_suite_property</con:name>
      <con:value>Suite remote value</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
